.upload__form {
  max-width: 600px;
}

.upload_message {
  overflow-wrap: break-word;
}

.upload__frame {
  width: 100%;
  min-height: 400px;
  display:block;
  position: relative;
  border: solid white 3px;
}

.upload__placeholder , .upload__artwork {
  background-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}

input#file_input {
  display: none;
}

.upload__btn {
    margin: 1.0rem;
}
